<form [ng-form-model]="form" (submit)="onSubmit()">
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls.fullName.valid && form.controls.fullName.touched">
            <label class="form__label" for="fullName">Full Name</label>
            <input id="fullName" class="form__input" [ng-form-control]="form.controls.fullName" placeholder="Full Name">
            <div class="form__tip">Please insert full legal name</div>
        </div>
        <div class="form__item" [class.has-error]="!form.controls.telephone.valid && form.controls.telephone.touched && form.controls.telephone.hasError('invalideTelephone')">
            <label class="form__label" for="telephone">Telephone</label>
            <input id="telephone" type="tel" class="form__input" [ng-form-control]="form.controls.telephone" placeholder="telephone">
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls.address1.valid && form.controls.address1.touched">
            <label class="form__label" for="address1">Address 1</label>
            <input id="address1" class="form__input" [ng-form-control]="form.controls.address1" placeholder="Address 1">
        </div>
        <div class="form__item" [class.has-error]="!form.controls.address2.valid && form.controls.address2.touched">
            <label class="form__label" for="address2">Address 2</label>
            <input id="address2" class="form__input" [ng-form-control]="form.controls.address2" placeholder="Address 2">
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls.city.valid && form.controls.city.touched">
            <label class="form__label" for="city">City</label>
            <input id="city" class="form__input" [ng-form-control]="form.controls.city" placeholder="city">
        </div>
        <div class="form__item" [class.has-error]="!form.controls.state.valid && form.controls.state.touched">
            <label class="form__label" for="state">State</label>
            <input id="state" class="form__input" [ng-form-control]="form.controls.state" placeholder="state">
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls.zip.valid && form.controls.zip.touched">
            <label class="form__label" id="zip">Zip or postcode</label>
            <input for="zip" class="form__input" [ng-form-control]="form.controls.zip" placeholder="zip">
        </div>
        <div class="form__item" [class.has-error]="!form.controls.country.valid && form.controls.country.touched">
            <label class="form__label" id="country">Country</label>
            <select for="country" class="form__input" [ng-form-control]="form.controls.country" placeholder="country">
                <option value="">--Please select--</option>
                <option *ng-for="#country of countryGroup" value="{{country}}">{{country}}</option>
            </select>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item _full">
            <label class="form__label">
                <input type="checkbox" [ng-form-control]="form.controls['18']" (click)="changeState(!form.controls['18'].value)" />I am over 18 years old</label>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item _full">
            <label class="form__label">
                <input type="checkbox" [ng-form-control]="form.controls.copy">Copy address fields from above</label>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
        !parent.controls.name.valid && parent.controls.name.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label _two-line" for="parent.name">Name parent or guardian</label>
                <input id="parent.name" class="form__input" [ng-form-control]="parent.controls.name" placeholder="nameParent" [disabled]="form.controls['18'].value" value="{{form.controls.fullName.value}}">
                <div class="form__tip">Please insert full legal name</div>
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label _two-line" for="parent.name">Name parent or guardian</label>
                <input id="parent.name" class="form__input" [ng-form-control]="parent.controls.name" placeholder="nameParent" [disabled]="form.controls['18'].value">
                <div class="form__tip">Please insert full legal name</div>
            </div>
        </div>
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
        !parent.controls.email.valid && parent.controls.email.touched && parent.controls.email.hasError('invalideEmail')">
            <label class="form__label" for="parent.email">Email</label>
            <input id="parent.email" type="email" class="form__input" [ng-form-control]="parent.controls.email" placeholder="email" [disabled]="form.controls['18'].value">
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.address1.valid && parent.controls.address1.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.address1">Address 1</label>
                <input id="parent.address1" class="form__input" [ng-form-control]="parent.controls.address1" placeholder="Address1" [disabled]="form.controls['18'].value" value="{{form.controls.address1.value}}">
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.address1">Address 1</label>
                <input id="parent.address1" class="form__input" [ng-form-control]="parent.controls.address1" placeholder="Address1" [disabled]="form.controls['18'].value">
            </div>
        </div>
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.address2.valid && parent.controls.address2.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.address2">Address 2</label>
                <input id="parent.address2" class="form__input" [ng-form-control]="parent.controls.address2" placeholder="Address2" [disabled]="form.controls['18'].value" value="{{form.controls.address2.value}}">
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.address2">Address 2</label>
                <input id="parent.address2" class="form__input" [ng-form-control]="parent.controls.address2" placeholder="Address2" [disabled]="form.controls['18'].value">
            </div>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.city.valid && parent.controls.city.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.city">City</label>
                <input id="parent.city" class="form__input" [ng-form-control]="parent.controls.city" placeholder="City" [disabled]="form.controls['18'].value" value="{{form.controls.city.value}}">
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.city">City</label>
                <input id="parent.city" class="form__input" [ng-form-control]="parent.controls.city" placeholder="City" [disabled]="form.controls['18'].value">
            </div>
        </div>
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.state.valid && parent.controls.state.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.state">State</label>
                <input id="parent.state" class="form__input" [ng-form-control]="parent.controls.state" placeholder="State" [disabled]="form.controls['18'].value" value="{{form.controls.state.value}}">
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.state">State</label>
                <input id="parent.state" class="form__input" [ng-form-control]="parent.controls.state" placeholder="State" [disabled]="form.controls['18'].value">
            </div>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.zip.valid && parent.controls.zip.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.zip">Zip or postcode</label>
                <input id="parent.zip" class="form__input" [ng-form-control]="parent.controls.zip" placeholder="State" [disabled]="form.controls['18'].value" value="{{form.controls.zip.value}}">
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.zip">Zip or postcode</label>
                <input id="parent.zip" class="form__input" [ng-form-control]="parent.controls.zip" placeholder="State" [disabled]="form.controls['18'].value">
            </div>
        </div>
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.country.valid && parent.controls.country.touched">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.country">Country</label>
                <select id="parent.coutnry" class="form__input" [ng-form-control]="parent.controls.country" placeholder="country" [disabled]="form.controls['18'].value">
                    <option value="">--Please select--</option>
                    <option value="{{form.controls.country.value}}">{{form.controls.country.value}}</option>
                </select>
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.country">Country</label>
                <select id="parent.country" class="form__input" [ng-form-control]="parent.controls.country" placeholder="country" [disabled]="form.controls['18'].value">
                    <option value="">--Please select--</option>
                    <option *ng-for="#country of countryGroup" value="{{country}}">{{country}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item" [class.has-error]="!form.controls['18'].value &&
    !parent.controls.telephone.valid && parent.controls.telephone.touched && parent.controls.telephone.hasError('invalideTelephone')">
            <div [hidden]="!form.controls.copy.value">
                <label class="form__label" for="parent.telephone">Telephone</label>
                <input id="parent.telephone" class="form__input" [ng-form-control]="parent.controls.telephone" placeholder="Telephone" [disabled]="form.controls['18'].value" value="{{form.controls.telephone.value}}">
            </div>
            <div [hidden]="form.controls.copy.value">
                <label class="form__label" for="parent.telephone">Telephone</label>
                <input id="parent.telephone" class="form__input" [ng-form-control]="parent.controls.telephone" placeholder="Telephone" [disabled]="form.controls['18'].value">
            </div>
        </div>
    </div>
    <div class="form__content">
        <div class="form__item _full">
            <button class="form__button" type="submit" [disabled]="checkButton(form.valid, parent.valid, form.controls['18'].value)">I agree to Content</button>
        </div>
    </div>
</form>